<% include ../partials/header %>
<section class="about-us" id="about" style="margin-top: 65px; width: 100%; min-height: 80vh;">
    <div class="container checkoutForm" style="align-content: center; width: 75%;">
        <br><br>
        <h1  id="heading" style="text-align: center;">Payment Succesful!</h1>

         
    </div>
</section>

<script src="../../js/success.js"></script>
<% include ../partials/footer %>