<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Suburbs Directory listing of businesses in Cape Town">
  <meta name="robots" content="index, follow">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/Bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Quicksand|Syncopate" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="/jQuery/jquery-3.3.1.min.js"></script>
  <script src="/jQuery/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="/styles/jquery-ui.css">
  <link rel="shortcut icon" href="/images/recoloredSuburbs.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="/jQuery/jquery.ui.touch-punch.min.js"></script>
  <script src="/Bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/main.js"></script>


</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark fixed-top" style=" color: white">

    <a class="navbar-brand" href="/" style="color: white">Boredom Busters</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="/about" tabindex="-1" style="color: white">About</a>
            </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="false" aria-expanded="true" style="color: white">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: lightgray">
            <a class="dropdown-item" href="#" style="font-weight: bold;">Suburbs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" style="background-color: #f5c23d;">Atlantic Seaboard</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Package Options</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Terms & Conditions</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="false" aria-expanded="true" style="color: white">
            Another Menu 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: lightgray">
            <a class="dropdown-item" href="#" style="font-weight: bold;">Other Suff</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" style="background-color: #f5c23d;">More Stuff</a>
      
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="false" aria-expanded="true" style="color: white">
            Charity
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: lightgray">
            <a class="dropdown-item" href="#" style="font-weight: bold;">Different Stuff</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" style="background-color: #f5c23d;">More Stuff</a>
        
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Suggest Some Stuff</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white">Sign Up Newsletter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white">Contact</a>
        </li>
      </ul>
      
      
    </div>
  </nav>