<% include partials/header %>

<div class="container col-md-8" id="" style="width: 100%; display: flex; justify-content: center; margin-top: 55px; min-height: 95vh;">

  <div id="" style="margin: 50px 0px;" class="mainbox col-md-12"
    style="width: 100vw; display: flex; justify-content: center; margin-top: 55px">
    <h1 style="text-align: center">Boredom Buster's</h1>
    <br>
    <h2 class="text-center" style="margin-top: 20px;">Children. Art. Craft. Education. Psychology</h2>
    <div id="homeImageDiv">
      <img id="homeImg" src="/images/image16.png" hidefocus="true">
    </div>
    
  </div>
</div>
<% include partials/footer %>